include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/sdftheme *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/sdftheme/migration *.ini *.py *.mako
recursive-include ckanext/sdftheme/public *.*
