{% extends "package/base.html" %}

{% set default_group_type = h.default_group_type('group') %}

{% block subtitle %}{{ h.dataset_display_name(pkg) }} {{ g.template_title_delimiter }} {{ super() }}{% endblock %}

{% block head_extras -%}
  {{ super() }}
  {% set description = h.markdown_extract(
    h.get_translated(pkg, 'notes'), extract_length=200) %}
  <meta property="og:title" content="{{ h.dataset_display_name(pkg) }} - {{ g.site_title }}">
  <meta property="og:description" content="{{ description|forceescape|trim }}">
{% endblock -%}

{% block content_action %}
{% if h.check_access('package_update', {'id': pkg.id}) %}
  <div class="sdf-toggle-pill">
    <a href="{{ h.url_for(pkg.type ~ '.read', id=pkg.name) }}" 
       class="sdf-toggle-pill__btn sdf-toggle-pill__btn--active">
      {{ h.humanize_entity_type('package', pkg.type, 'view label') or _('View') }}
    </a>
    <a href="{{ h.url_for(pkg.type ~ '.edit', id=pkg.name) }}" 
       class="sdf-toggle-pill__btn">
      {{ _('Edit') }}
    </a>
  </div>
  {% endif %}
{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon(dataset_type ~ '.read', _('Dataset'),  id=pkg.name) }}
  {{ h.build_nav_icon(dataset_type ~ '.groups', h.humanize_entity_type('group', default_group_type, 'content tab') or _('Groups'), id=pkg.name) }}
{% endblock %}

{% block secondary_content %}

  {% block secondary_help_content %}{% endblock %}

  {% block package_info %}

  {% endblock %}

  {% block package_organization %}
    {% if pkg.organization %}
      {% set org = h.get_organization(pkg.organization.id) %}
      {% snippet "organization/snippets/info.html", organization=org, show_nums=false, am_following=am_following %}
    {% endif %}
  {% endblock %}

  {% block package_social %}
    {% if pkg.organization %}
      {% set org = h.get_organization(pkg.organization.id) %}
      {% snippet "snippets/social.html", organization=org %}
    {% endif %}
  {% endblock %}

  {% block package_license %}
  {% endblock %}

{% endblock %}
