{#
Displays a single of dataset.

package        - A package to display.
item_class     - The class name to use on the list item.
hide_resources - If true hides the resources (default: false).

Example:

  {% snippet 'snippets/package_item.html', package=c.datasets[0] %}

#}
{% set title = package.title or package.name %}
{% set notes = h.markdown_extract(package.notes, extract_length=180) %}
{% set date_range = h.get_pkg_dict_extra(package, 'date_range') %}
{% set source = h.get_pkg_dict_extra(package, 'source') %}

{% block package_item %}
  <li class="dataset-item">
    {% block content %}
      <div class="dataset-content" style="padding-bottom: 5px;">
        {% block heading %}
          <h2 class="dataset-heading">
            {% block heading_private %}
            {% endblock %}
            {% block heading_title %}
            <a href="{{ h.url_for('%s.read' % package.type, id=package.name) }}" title="{{ title }}">
              {{title|truncate(80)}} 
            </a>
            {% endblock %}
            {% block heading_meta %}
              {% if package.get('state', '').startswith('draft') %}
                <span class="badge bg-info">{{ _('Draft') }}</span>
              {% elif package.get('state', '').startswith('deleted') %}
                <span class="badge bg-danger">{{ _('Deleted') }}</span>
              {% endif %}
            {% endblock %}
          </h2>
          <p>South Africa{% if date_range %},&nbsp;{{ date_range }}{% endif %}</p>
        {% endblock %}
        {% block notes %}
          {% if notes %}
            <div>{{ notes|urlize }}</div>
          {% else %}
            <p class="empty">{{ h.humanize_entity_type('package', package.type, 'no description') or _("There is no description for this dataset") }}</p>
          {% endif %}
        {% endblock %}
        <p>Source / Producer: <span class="dataset-metadata-source">{% if source %}{{ source }} {%else%}{{ _('Not specified') }}{% endif %}</span></p>
        <p><span class="dataset-metadata-item-label">ID: <span class="dataset-metadata-item">{{ package.id }} </span></span> <span class="dataset-metadata-item-label">Updated: <span class="dataset-metadata-item"> {{ h.render_datetime(package.metadata_modified, date_format='%B %d, %Y') }} </span> </span> <span class="dataset-metadata-item-label">Created: <span class="dataset-metadata-item"> {{ h.render_datetime(package.metadata_created, date_format='%B %d, %Y') }} </span> </span> </p>
      </div>
      {% block resources %}
        {% if package.resources and not hide_resources %}
          {% block resources_outer %}
            <ul class="dataset-tags list-unstyled">
              {% block resources_inner %}
                 <li>
                  <span class="tag tag-internal">
                  <i class="fa fa-lock"></i> {{ _('Secure access (Available only within NT-SDF)') }}
                  </span>
                </li>
              {% endblock %}
            </ul>
          {% endblock %}
        {% endif %}
      {% endblock %}
    {% endblock %}
  </li>
{% endblock %}
